header {
    margin: auto;
    max-width: 1110px;
}

.nav {
    width: 1110px;
    height: 200px;
    display: flex;
    justify-content: center;

    &_list {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &_li {
        list-style: none;
        height: 23px;
        margin-top: 30px;
    }
    &_link {
        color: #000;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
    }
}

.logo-text {
    list-style: none;
    font-size: 24px;
    margin-top: -3px;
    margin-left: -35px;
}
    
.header_container {
    width: 1037px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header_content {
    width: 900px;
    height: 251px;
}

.header_title {
    width: 173px;
    height: 28px;
    color: #4A4FF2;
    font-size: 22px;
    font-weight: 700;
}

.header_block-text {
    width: 635px;
    height: 28px;
    color: #111111;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
}

.header_block-secondline {
    width: 635px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
}

.header_bluetext {
    color: #4A4FF2;
    font-size: 40px;
    font-weight: 700;
    height: 28px;
}

.header_blacktext {
    color: #111111;
    font-size: 40px;
    font-weight: 700;
    height: 28px;
}

.header_content-quote {
    width: 207px;
    height: 251px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 30px;
}

.header_line {
    color: #111111;
    width: 30px;
    opacity: 0.5;
    margin-left: -1px;
    margin-bottom: -6px;
}

.header_quote {
    width: 207px;
    height: 34px;
    color: #111111;
    font-size: 18px;
    opacity: 0.6;
    font-style: italic;
}