$main-txt-color: 000;


main {
    width: 100%;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    width: 1110px;
    height: 1960px;
    align-items: center;
    justify-items: center;
    grid-gap: 10px;
}

.img-dance {
    grid-row: 1 / 8;
    grid-column: 1 / 4;
}

.grid_element {
    overflow: hidden;
}

img:hover {
    opacity: 0.3;
    transition: 1s ease-in-out;
    transform: scale(1.25);
}


.img-head {
    grid-row: 1 / 7;
    grid-column: 4 / 7;
}

.img-hand {
    grid-row: 1 / 11;
    grid-column: 7 / 10;
}

.img-cactus {
    grid-row: 7 / 17;
    grid-column: 1 / 4;
}

.img-statue {
    grid-row: 6 / 15;
    grid-column: 4 / 7;
}

.img-drip {
    grid-row: 11 / 18;
    grid-column: 7 / 10;
}

.img-veil {
    grid-row: 17 / 23;
    grid-column: 1 / 4;
}

.img-walking {
    grid-row: 15 / 22;
    grid-column: 4 / 7;
}

.img-keyboard {
    grid-row: 18 / 26;
    grid-column: 7 / 10;
}

.img-sunflower {
    grid-row: 23 / 32;
    grid-column: 1 / 4;
}

.img-sand {
    grid-row: 22 / 32;
    grid-column: 4 / 7;
}

.img-georgia {
    grid-row: 26 / 32;
    grid-column: 7 / 10;
}

.services {
    width: 1079px;
    height: 206px;
}

.services_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: baseline;
    align-items: center;
}

.services_blocktext {
    width: 635px;
    height: 106px;
    font-size: 28px;
    font-weight: 700;
    color: #111111;
    align-items: center;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.services_list {
    width: 150px;
    height: 106px;
    flex-direction: column;
}
.services_li {
    font-size: 18px;
    color: #111111;
    opacity: 0.6;
}

.awards_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1109px;
    height: 200px;
}

.awards_title {
    font-size: 22px;
    font-weight: 700;
    color:#111111;
    width: 500px;
    height: 303px;
}
.awards_site {
    width: 300px;
    height: 113px;
    font-weight: 700;
    font-size: 18px;
    color:#111111;
    display: flex;
    justify-content: flex-start;
}
.awards_UI {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 110px;
    font-size: 16px;
    color:#111111;
}

.awards_navigation {
    width: 300px;
    height: 113px;
    font-weight: 700;
    font-size: 18px;
    color:#111111;
    display: flex;
    justify-content: flex-start;
}
.awards_year {
    font-size: 16px;
    color:#111111;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
}

.awards_info {
    font-size: 16px;
    line-height: 1.6;
    color:#111111;
    font-weight: 400;
    opacity: 0.6;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.awards_linebreak {
    color: #D8D8D8;
    width: 100%;
}