footer {
  width: 1100px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav {
  width: 1100px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.nav_li {
  list-style: none;
}
.nav_link {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.nav_link:hover {
  color: #D8D8D8;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  margin-left: 30px;
}

.fa-basketball:hover {
  color: #F88158;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-instagram:hover {
  color: #d62976;
}

header {
  margin: auto;
  max-width: 1110px;
}

.nav {
  width: 1110px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav_li {
  list-style: none;
  height: 23px;
  margin-top: 30px;
}
.nav_link {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.logo-text {
  list-style: none;
  font-size: 24px;
  margin-top: -3px;
  margin-left: -35px;
}

.header_container {
  width: 1037px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header_content {
  width: 900px;
  height: 251px;
}

.header_title {
  width: 173px;
  height: 28px;
  color: #4A4FF2;
  font-size: 22px;
  font-weight: 700;
}

.header_block-text {
  width: 635px;
  height: 28px;
  color: #111111;
  font-size: 40px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header_block-secondline {
  width: 635px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -40px;
}

.header_bluetext {
  color: #4A4FF2;
  font-size: 40px;
  font-weight: 700;
  height: 28px;
}

.header_blacktext {
  color: #111111;
  font-size: 40px;
  font-weight: 700;
  height: 28px;
}

.header_content-quote {
  width: 207px;
  height: 251px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 30px;
}

.header_line {
  color: #111111;
  width: 30px;
  opacity: 0.5;
  margin-left: -1px;
  margin-bottom: -6px;
}

.header_quote {
  width: 207px;
  height: 34px;
  color: #111111;
  font-size: 18px;
  opacity: 0.6;
  font-style: italic;
}

main {
  width: 100%;
}

.contact_container {
  width: 1110px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.box {
  width: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text {
  height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact_title {
  width: 450px;
  height: 174px;
  color: #111111;
  font-size: 40px;
  font-weight: 700;
}

.contact_text {
  width: 400px;
  height: 56px;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
  margin-top: 10px;
}

.list {
  height: 291px;
  width: 475px;
}

.form {
  width: 475px;
  height: 291px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.label {
  width: 475px;
}

.input-field {
  border: none;
  font-family: "Mulish", serif;
  height: 30px;
  margin-bottom: -15px;
}

.input-field:hover {
  background-color: rgba(74, 80, 242, 0.089);
  border-radius: 7px;
}

.list_linebreak {
  width: 475px;
  color: #D8D8D8;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #FFF;
}

button {
  width: 125px;
  height: 50px;
  background-color: #4A4FF2;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  margin-top: 20px;
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.img-block {
  margin-top: 40px;
  width: 1110px;
  height: 700px;
}

img {
  width: 1110px;
  height: 570px;
}

body {
  font-family: "Mulish", serif;
  margin: auto;
  width: 1110px;
  height: 1375px;
}