footer {
  width: 1100px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav {
  width: 1100px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.nav_li {
  list-style: none;
}
.nav_link {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.nav_link:hover {
  color: #D8D8D8;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  margin-left: 30px;
}

.fa-basketball:hover {
  color: #F88158;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-instagram:hover {
  color: #d62976;
}

header {
  margin: auto;
  max-width: 1110px;
}

.nav {
  width: 1110px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav_li {
  list-style: none;
  height: 23px;
  margin-top: 30px;
}
.nav_link {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.logo-text {
  list-style: none;
  font-size: 24px;
  margin-top: -3px;
  margin-left: -35px;
}

.header_container {
  width: 1037px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header_content {
  width: 900px;
  height: 251px;
}

.header_title {
  width: 173px;
  height: 28px;
  color: #4A4FF2;
  font-size: 22px;
  font-weight: 700;
}

.header_block-text {
  width: 635px;
  height: 28px;
  color: #111111;
  font-size: 40px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header_block-secondline {
  width: 635px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -40px;
}

.header_bluetext {
  color: #4A4FF2;
  font-size: 40px;
  font-weight: 700;
  height: 28px;
}

.header_blacktext {
  color: #111111;
  font-size: 40px;
  font-weight: 700;
  height: 28px;
}

.header_content-quote {
  width: 207px;
  height: 251px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 30px;
}

.header_line {
  color: #111111;
  width: 30px;
  opacity: 0.5;
  margin-left: -1px;
  margin-bottom: -6px;
}

.header_quote {
  width: 207px;
  height: 34px;
  color: #111111;
  font-size: 18px;
  opacity: 0.6;
  font-style: italic;
}

main {
  width: 100%;
}

.project_container {
  width: 1110px;
  height: 441px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project_title {
  width: 495px;
  height: 130px;
  font-size: 40px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #111111;
}

.project_text {
  width: 645px;
  height: 381px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project_blocktext {
  width: 635px;
  height: 222px;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  opacity: 0.6;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

.wrapper_list {
  width: 335px;
  height: 343px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project_list {
  width: 335px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project_li {
  font-size: 16px;
  font-weight: 700;
  color: #111111;
  opacity: 0.6;
}

.project_info {
  font-size: 16px;
  font-weight: 700;
  color: #111111;
}

.project_linebreak {
  width: 335px;
  color: #111111;
  opacity: 0.6;
}

.middle {
  width: 1110px;
  height: 798px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img_block {
  width: 1110px;
  height: 660px;
}

.img_text {
  width: 1110px;
  height: 93px;
  color: #111111;
  opacity: 0.6;
  font-size: 16;
  font-weight: 400;
}

.img_container {
  width: 1110px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img_triple {
  width: 350px;
  height: 400px;
}

body {
  font-family: "Mulish", serif;
  margin: auto;
  width: 1110px;
  height: 2068px;
}